.footer {
    margin: 0;
    padding: 0;
    max-height: 252px;
    background-color: #212529;
    .footer_row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        .item_summary {
            margin: -5px 0px -10px 5px;
            .title_light {
                font-weight: 700;
                font-size: 30px;
            }
            .text_light {
                line-height: 15px;
            }
            .item_text {
                margin-top: -10px;
            }
        }
        .item_list {
            font-size: 20px;
            line-height: 20px;
            margin-bottom: -10px;
            .list_link:active {
                color: #0b03e7;
            }
        }
        .item_us {
            font-size: 20px;
            margin-right: 15px;
            line-height: 20px;
            .zero_style {
                display: block;
                color: white;
                text-decoration: none;
            }
            .us_img {
                position: relative;
                top: 2px;
            }
        }
    }
}
@media screen and (max-width: 1660px) {
    .footer {
        height: auto;
    }
    .footer .footer_row {
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1420px) {
    .footer {
        height: auto;
    }
    .footer .footer_row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer .footer_row .footer_item {
        margin-bottom: 10px;
    }
    .footer .footer_row .footer_item2 {
        position: static;
    }
}
@media screen and (max-width: 705px) {
    .footer .footer_row .item_us {
        display: none;
    }
}
@media screen and (max-width: 500px) {
    .footer .footer_row .item_title .title_light {
        font-size: 20px;
    }
    .footer .footer_row .item-text .text-light {
        font-size: 10px;
    }
    .footer .footer_row .item-list .item-list-text {
        font-size: 10px;
    }
}